body {
	background-color: #000;
}

.main-content {
	color: #fff;
}

.title {
	font-weight: bold;
    text-align: center;
}

.spacer-20 {
    height: 20px;
}

.album-image {
    width: 100%;
    height: 80%;
}

.red-hyperlink {
	color: #fff;
	text-decoration: underline;
}

.centered {
	margin: 0 auto;
	text-align: center;
}