@font-face {
	font-family: myFirstFont;
	src: url("checkbook.ttf");
	font-size: 26px;
	
}

body {
	background-image: url("images/water_square.jpg");
	background-repeat: repeat;
	font-family: myFirstFont;
	
}

.main-content {
	color: #ff1a8c;
}

.title {
	font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.spacer-20 {
    height: 20px;
}

.spacer-50 {
	height: 50px;
}

.album-image {
    width: 100%;
    height: 80%;
}

.red-hyperlink {
	color: #fff;
	text-decoration: underline;
}

.centered {
	margin: 0 auto;
	text-align: center;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	font-size: 30px;
}

.navbar .navbar-collapse {
	text-align: center;
}